# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Fichiers de logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Configuration IDE
.vscode/
